@model Articolo

@{
    ViewBag.Title = "Nuovo Articolo";
}

<h2>Nuovo Articolo</h2>

@using (Html.BeginForm("SalvaArticolo", "Articoli", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezzo)
        @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descrizione)
        @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImmagineCopertina)
        @Html.EditorFor(model => model.ImmagineCopertina, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImmagineCopertina, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImmagineAggiuntiva1)
        @Html.EditorFor(model => model.ImmagineAggiuntiva1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImmagineAggiuntiva1, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImmagineAggiuntiva2)
        @Html.EditorFor(model => model.ImmagineAggiuntiva2, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImmagineAggiuntiva2, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
    </div>
}
